# SECRETS
.gmail_app_password

# PYTHON
__pycache__/
*.py[cod]
*.log

# DATA (TOO LARGE)
seasonality_reports/runs/
seasonality_reports/price_cache/
seasonality_reports/logs/

# Salli exit_watchlist_archive
!seasonality_reports/exit_watchlist_archive/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
